.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.visited {
    background-color: mediumturquoise;
}

.not-visited {
    background-color: darkgray;
    color: white;
}